* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}


/* toda la pantalla */

.contenedor {   
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 62rem;
    background-image: url("./assets/Frame\ 3.png");
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
}


/* parte derecha */

.taba{
    max-height: 800px;
    overflow-y: auto;
    height: 800px;
}

.taba table{
    height: 5rem;
}



.mrd{
    height: auto;
    width: 92rem;
    margin: 60px 300px 50px 38px;
}

.t{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}